/* CSS */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    padding: 20px;
  }
  
  /* Header styles */
  header {
    background-color: #333;
    color: #fff;
    padding: 15px;
  }
  
  header h1 {
    margin: 0;
  }
  
  /* Main styles */
  .container {
    display: flex;
    flex-wrap: wrap;
  }
  
  aside {
    flex: 0 0 300px;
    margin-right: 20px;
  }
  
  .content {
    flex: 1;
  }
  
  /* Section styles */
  section {
    margin-bottom: 30px;
  }
  
  section h2 {
    margin-bottom: 15px;
  }
  
  /* Footer styles */
  footer {
    background-color: #333;
    color: #fff;
    padding: 15px;
    text-align: center;
  }
  
  /* Custom Colors */
  aside img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
  
  h1 {
    color: #fff;
  }
  
  a {
    color: #fff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .container {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  section {
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 15px;
    text-align: center;
  }
  
  .foto{
    width: 60%;
  }

  .foto2{
    width: 60%;
  }